{% extends 'medicine/home.html' %}

{% block page_title %} {{medicine_type.name}} {% endblock page_title %}
{% block page_name %} {{medicine_type.name}} {% endblock page_name %}

{% block page_content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <p class="card-title-desc pashto">په دې پاڼه کي تاسي د {{medicine_type.name}} په اړه معلومات وینئ.</p>    
                    
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr class="pashto">
                                    <th>د درمل ډول</th>
                                    <th>لاسوهنه</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="pashto">
                                    <td>{{ medicine_type.type }}</td>
                                    <td>
                                        <a class="btn btn-outline-secondary btn-sm edit" title="Edit" href="{% url 'edit_medicine_type' medicine_type.id %}">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a class="btn btn-outline-danger btn-sm edit" title="Edit" href="{% url 'delete_medicine_type' medicine_type.id %}">
                                            <i class="dripicons-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h1>Some statistics</h1>
                </div>
            </div>
        </div>
    </div>

{% endblock page_content %}

