{% extends 'medicine/home.html' %}
{% load static %}

{% block page_title %}بیل شاملول{% endblock page_title %}
{% block page_name %}بیل شاملول{% endblock page_name %}

{% block page_content %}
    
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <p class="card-title-desc pashto">د لاندي فورم په بشپړولو سره تاسي یو نوی بیل اضافه کوئ.</p>
                    <div id="parent-div-for-rows">
                        
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3 position-relative">
                            <label class="form-label pashto d-block" for="validationTooltip04">Add/Remove</label>
                            <div class="btn btn-primary pashto" id="addRow">+</div>
                            <div class="btn btn-danger pashto" id="removeRow">-</div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary pashto" id="submit">فورم لېږل</button>
                    </div>
                </div>
            </div>
            <!-- end card -->
        </div> <!-- end col -->
    </div>

{% endblock page_content %}

{% block js %}
<script>
    medicine = {}
    {% for medicine in medicines %}
        medicine['{{medicine.id}}'] = '{{medicine.brand_name}}';
    {% endfor %}

    url_to = '{% url "add_customer_purchase" %}';
</script>
<script src="{% static 'medicine/js/assets/libs/jquery/action.js' %}"></script>
{% endblock js %}