{% extends 'medicine/home.html' %}
{% load static %}

{% block page_title %}بیل شاملول{% endblock page_title %}
{% block page_name %}بیل شاملول{% endblock page_name %}

{% block page_content %}
    
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <p class="card-title-desc pashto">د لاندي فورم په بشپړولو سره تاسي یو نوی بیل اضافه کوئ.</p>
                    
                    
                    <div class="col-md-3 mb-2 pashto">
                        <label class="form-label" for="validationTooltip01">رانیوونکی</label>
                        <select class="form-control" id="customer_purchase_customers" dir="rtl" name="customer">                                    
                            {% for customer in customers %}
                                <option value="{{customer.id}}">{{customer.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div>
                        <button class="btn btn-primary pashto" id="submit">بیل ثبتول</button>
                    </div>
                </div>
            </div>
            <!-- end card -->

            <div class="card">
                <div class="card-body">                    
                    <div id="parent-div-for-rows"></div>

                    <div class="d-flex justify-content-between">
                        <div class="mb-3 position-relative">
                            <label class="form-label pashto d-block" for="validationTooltip04">Add/Remove row</label>
                            <div class="btn btn-primary pashto" id="addRow">+</div>
                            <div class="btn btn-danger pashto" id="removeRow">-</div>
                        </div>
                        <div>
                            <label class="pashto">ټول حساب: </label><label class="form-label pashto d-block" id="grand-total">0</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card -->
        </div> <!-- end col -->
    </div>

{% endblock page_content %}

{% block js %}
<script>
    medicine = {}
    {% for medicine in medicines %}
        medicine['{{medicine.id}}'] = {'name':'{{medicine.brand_name}}', 'price':'{{medicine.out_price}}'};
    {% endfor %}

    url_to = '{% url "add_customer_purchase" %}';
</script>
<script src="{% static 'medicine/js/assets/libs/jquery/action.js' %}"></script>
{% endblock js %}