{% extends 'medicine/home.html' %}
{% load static %}

{% block page_title %}اصلي پاڼه{% endblock page_title %}
{% block page_name %}اصلي پاڼه{% endblock page_name %}

{% block page_content %}
    <div class="row">

        <div class="col-xl-8 col-sm-6">
            <div class="row pashto">
                <div class="col-xl-4 col-sm-6">
                    <div class="card">
                        <div class="card-body p-2">
                            <p>موجوده سټاک په فیصدي</p>
                            <div class="border-top">
                                <div class="d-grid">
                                    <a class="btn btn-sm btn-link font-size-14 text-center pashto" href="javascript:void(0)">
                                        نور کتل
                                        <i class="mdi mdi-arrow-left-circle me-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->

                <div class="col-xl-4 col-sm-6">
                    <div class="card">
                        <div class="card-body p-2">
                            <p>د تېري میاشتي sale</p>
                            <div class="border-top">
                                <div class="d-grid">
                                    <a class="btn btn-sm btn-link font-size-14 text-center pashto" href="javascript:void(0)">
                                        نور کتل
                                        <i class="mdi mdi-arrow-left-circle me-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->

                <div class="col-xl-4 col-sm-6">
                    <div class="card">
                        <div class="card-body p-2">
                            <p>پاته پور</p>
                            <div class="border-top">
                                <div class="d-grid">
                                    <a class="btn btn-sm btn-link font-size-14 text-center pashto" href="javascript:void(0)">
                                        نور کتل
                                        <i class="mdi mdi-arrow-left-circle me-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->

                <div class="col-xl-4 col-sm-6">
                    <div class="card">
                        <div class="card-body p-2">
                            <p>ترلاسه سوي پیسې</p>
                            <div class="border-top">
                                <div class="d-grid">
                                    <a class="btn btn-sm btn-link font-size-14 text-center pashto" href="javascript:void(0)">
                                        نور کتل
                                        <i class="mdi mdi-arrow-left-circle me-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
        </div>

        <div class="col-xl-4 col-cm-6">
            <div class="">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <div class="d-grid">
                                <a class="btn btn-sm btn-link font-size-14 text-center pashto" href="javascript:void(0)">
                                    اکسپایر ته نژدې درمل
                                    <i class="mdi mdi-arrow-left-circle me-1"></i>
                                </a>
                            </div>
                        </div>
                        <div class="border-top">
                            <div class="d-grid">
                                <a class="btn btn-sm btn-link font-size-14 text-center pashto" href="javascript:void(0)">
                                    ډېر ځنډېدلی پور
                                    <i class="mdi mdi-arrow-left-circle me-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>

    </div>
{% endblock page_content %}

{% block js %}
{% endblock js %}