{% extends 'medicine/home.html' %}
{% load static %}

{% block page_title %}د پېمنټ احصایه{% endblock page_title %}
{% block page_name %}د پېمنټ احصایه{% endblock page_name %}

{% block page_content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="col-sm-12">
                    <form class="app-search" method="POST" action="{% url 'payment_statistics'  %}">
                    {% csrf_token %}
                        <div class="position-relative d-flex pashto col-xl-8">
                            <div class="col-6" style="margin-left: 5px;">
                                <label for="from_date" class="form-label">راهیسي:</label>
                                <input name="from_date" type="date" class="form-control" placeholder="پیل نېټه" required="required">
                                <button type="submit" class="btn btn-primary mt-2">لټون</button>
                            </div>
                            <div class="col-6">
                                <label for="to_date">تر:</label>
                                <input name="to_date" type="date" class="form-control" placeholder="پای نېټه">
                            </div>
                        </div>
                    </form>
                </div>

                <p class="card-title-desc pashto">په لاندي جدول کي تاسي د پیمنټ په اړه معلومات وینئ.</p>    
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr class="pashto">
                                <th>رانیوونکی ایډي</th>
                                <th>رانیوونکی</th>
                                <th>ټوټل</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cp in collected_payments %}
                                <tr class="pashto">
                                    {% if date_range %}
                                        <td><a href="{% url 'search_customer_payment' %}?search_value={{cp.id}}&date_range={{date_range}}">{{ cp.id }}</a></td>
                                    {% else %}
                                        <td><a href="{% url 'search_customer_payment' %}?search_value={{cp.id}}&from_date={{from_date}}&to_date={{to_date}}">{{ cp.id }}</a></td>
                                    {% endif %}
                                    <td>{{ cp.name }}</td>
                                    <td>{{ cp.total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <p class="card-title-desc pashto">په یاده نېټه کي:</p>    
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr class="pashto">
                                <th>ټوټل ترلاسه سوي</th>
                                <th>کړني</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="pashto">
                                <td>{{ total }}</td>
                                <td>ډاونلوډ</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}

{% block js %}


    <script src="{% static 'medicine/js/assets/libs/jquery/Chart.min.js' %}"></script>
{% endblock %}