{% extends 'medicine/home.html' %}

{% block page_title %} کمپنۍ خریداري {{company_purchase.id}} {% endblock page_title %}
{% block page_name %}کمپنۍ خریداري {{company_purchase.id}}{% endblock page_name %}

{% block page_content %}


    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <p class="card-title-desc pashto">په دې پاڼه کي تاسي د {{customer_purchase.id}} بیل په اړه معلومات وینئ.</p>    
                    
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr class="pashto">
                                    <th>کمپنۍ</th>
                                    <th>خریداري ایډي</th>
                                    <th>نېټه</th>
                                    <th>لاسوهنه</th>
                                    <th>چاپ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="pashto">
                                    <td><a href="{% url 'get_company' company_purchase.company.id %}">{{ company_purchase.company.name }}</a></td>
                                    <td>{{ company_purchase.id }}</a></td>
                                    <td>{{ company_purchase.date }}</td>
                                    <td>
                                        <a class="btn btn-outline-secondary btn-sm edit" title="Edit" href="{% url 'edit_company_purchase' company_purchase.id %}">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a class="btn btn-outline-danger btn-sm edit" title="Edit" href="{% url 'delete_company_purchase' company_purchase.id %}">
                                            <i class="dripicons-trash"></i>
                                        </a>
                                    </td>
                                    <td>print</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h1>Some notes of the bill</h1>
                </div>
            </div>
        </div>
    </div>

{% endblock page_content %}

