{% extends 'medicine/home.html' %}
{% load static %}

{% block page_title %}د درملو لیست{% endblock page_title %}
{% block page_name %}د درملو لیست{% endblock page_name %}

{% block page_content %}

<!-- search -->
<div class="col-lg-3 col-md-6 col-sm-12">
    <form class="app-search" method="POST" action="{% url 'search_medicine'  %}">
    {% csrf_token %}
        <div class="position-relative d-flex pashto">
            <input name="search_value" type="text" class="form-control" placeholder="د درمل نوم..." required="required">
            <button type="submit" class="btn btn-primary">لټون</button>
        </div>
    </form>
</div>

<div class="row">
    {% for medicine in page_obj %}
        <div class="col-md-6 col-xl-3">
            <div class="card medicine-card">
                <a href="{% url 'get_medicine' medicine.id %}" class="card-link">
                    <div class="card-body  
                    {% if medicine.archive %}
                        archived-medicine
                    {% endif %}">
                        <h4 class="card-title pashto">{{medicine.brand_name}}</h4>
                        <div class="d-flex justify-content-between">
                            <h6 class="card-subtitle font-14 text-muted pashto">{{medicine.out_price}}</h6>
                            <h6 class="card-subtitle font-14 text-muted pashto">{{medicine.quantity}}</h6>
                        </div>
                    </div>
                    <img class="img-fluid" src="{{ medicine.image }}" />
                </a>
            </div>
        </div>
    {% endfor %}
</div>

<!-- paginator -->
<div class="d-inline-block mb-2 pashto">
    <ul class="pagination pagination-rounded mb-0">
        {% if not page_obj.has_previous %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <i class="mdi mdi-chevron-right"></i>
                    شاته
                </a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&search_value={{ search_value }}" aria-label="Previous">
                    <i class="mdi mdi-chevron-right"></i>
                    شاته
                </a>
            </li>
        {% endif %}
            <div class="m-2"></div>
        {% if not page_obj.has_next %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Next">
                مخته
                <i class="mdi mdi-chevron-left"></i></a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}&search_value={{ search_value }}" aria-label="Previous">
                    مخته
                    <i class="mdi mdi-chevron-left"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</div>

<div class="pashto">
    <a href="{% url 'list_medicine' 0 %}">ټول درمل</a>
</div>
{% endblock page_content %}

