{% load static %}
<!doctype html>
<html lang="en" style="direction: rtl;">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block page_title %}{% endblock page_title %}</title>

    {% block style %}{% endblock style %}
    
    <link href="{% static 'medicine/js/assets/libs/jqvmap/jqvmap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'medicine/js/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{% static 'medicine/js/assets/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'medicine/css/icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'medicine/css/bootstrap-rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'medicine/css/app-rtl.min.css' %}">

</head>
  <body data-sidebar="dark">
    {% block content %}

    {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'medicine/js/assets/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'medicine/js/assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'medicine/js/assets/libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'medicine/js/assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'medicine/js/assets/libs/node-waves/waves.min.js' %}"></script>
    {% block js %}{% endblock js %}
    <script src="{% static 'medicine/js/app.js' %}"></script>

  </body>
</html>
