{% extends 'medicine/base.html' %}
{% load static %}

{% block page_title %}Home{% endblock page_title %}

{% block content %}
        <!-- Begin page -->
        <div id="layout-wrapper">

            
            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box text-center">
                            <a href="index.html" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="{% static 'medicine/js/assets/images/logo-sm.png' %}" alt="logo-sm-dark" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'medicine/js/assets/images/logo-dark.png' %}" alt="logo-dark" height="24">
                                </span>
                            </a>

                            <a href="index.html" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="{% static 'medicine/js/assets/images/logo-sm.png' %}" alt="logo-sm-light" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'medicine/js/assets/images/logo-light.png' %}" alt="logo-light" height="24">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                            <i class="ri-menu-2-line align-middle"></i>
                        </button>

                    </div>

                    <div class="d-flex">

                        <div class="dropdown d-inline-block d-lg-none ms-2">
                            <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ri-search-line"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                aria-labelledby="page-header-search-dropdown">
                    
                                <form class="p-3">
                                    <div class="mb-3 m-0">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search ...">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="submit"><i class="ri-search-line"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        {% if user.is_authenticated %}
                            <div class="dropdown d-none d-lg-inline-block ms-1">
                                <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                                    <i class="ri-fullscreen-line"></i>
                                </button>
                            </div>
                        {% endif %}

                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
                                  data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ri-notification-3-line"></i>
                                <span class="noti-dot"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                aria-labelledby="page-header-notifications-dropdown">
                                <div class="p-3">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="m-0 pashto"> خبرتیاوي </h6>
                                        </div>
                                        <div class="col-auto">
                                            <a href="#!" class="small pashto"> ټول</a>
                                        </div>
                                    </div>
                                </div>
                                <div data-simplebar style="max-height: 230px;">
                                    <a href="#" class="text-reset notification-item">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <img src="{% static 'medicine/js/assets/images/users/avatar-3.jpg' %}" class="rounded-circle avatar-xs" alt="user-pic">
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="mb-1">James Lemire</h6>
                                                <div class="font-size-12 text-muted">
                                                    <p class="mb-1">It will seem like simplified English.</p>
                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="p-2 border-top">
                                    <div class="d-grid">
                                        <a class="btn btn-sm btn-link font-size-14 text-center pashto" href="javascript:void(0)">
                                            نور کتل
                                            <i class="mdi mdi-arrow-left-circle me-1"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dropdown d-inline-block user-dropdown">
                            <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="d-none d-xl-inline-block ms-1 pashto">{{ user.username }}</span>
                                <img class="rounded-circle header-profile-user" src="{% static 'medicine/js/assets/images/users/avatar-2.jpg' %}"
                                    alt="Header Avatar">
                                <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                                <a class="dropdown-item pashto" href="#"><i class="ri-user-line align-middle me-1"></i> زما اکاونټ</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger pashto" href="{% url 'logout' %}"><i class="ri-shut-down-line align-middle me-1 text-danger"></i> وتل</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">
                
                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title">مینیو</li>
                            <li>
                                <a href="{% url 'home' %}" class="waves-effect">
                                    <i class="mdi mdi-home-variant-outline"></i><span
                                        class="badge rounded-pill bg-primary float-end">3</span>
                                    <span>اصلي پاڼه</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="mdi mdi-email-outline"></i>
                                    <span>کمپنۍ</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'add_company' %}">کمپنۍ شاملول</a></li>
                                    <li><a href="{% url 'list_company' %}">کمپنۍ لیست</a></li>
                                    <li>
                                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                                            <i class="mdi mdi-email-outline"></i>
                                            <span>کمپنۍ خریداري</span>
                                        </a>
                                        <ul class="sub-menu" aria-expanded="false">
                                            <li><a href="{% url 'add_company_purchase' %}">کمپنۍ خریداري شاملول</a></li>
                                            <li><a href="{% url 'list_company_purchase' %}">کمپنۍ خریداري لیست</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                                            <i class="mdi mdi-email-outline"></i>
                                            <span>د درملو ډول</span>
                                        </a>
                                        <ul class="sub-menu" aria-expanded="false">
                                            <li><a href="{% url 'add_medicine_type' %}">د درملو د ډول شاملول</a></li>
                                            <li><a href="{% url 'list_medicine_type' %}">د درملو د ډولونو لیست</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                                            <i class="mdi mdi-email-outline"></i>
                                            <span>درمل</span>
                                        </a>
                                        <ul class="sub-menu" aria-expanded="false">
                                            <li><a href="{% url 'add_medicine' %}">د درملو شاملول</a></li>
                                            <li><a href="{% url 'list_medicine' 1 %}">د درملو لیست</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="mdi mdi-email-outline"></i>
                                    <span>رانیوونکي</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'add_customer' %}">رانیوونکي شاملول</a></li>
                                    <li><a href="{% url 'list_customer' %}">رانیوونکو لیست</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="mdi mdi-email-outline"></i>
                                    <span>بیل</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'customer_purchase' %}">د بیل شاملول</a></li>
                                    <li><a href="{% url 'list_customer_purchase' %}">د بیلونو لیست</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="mdi mdi-email-outline"></i>
                                    <span>پېمنټ</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'add_customer_payment' %}">د پېمنټ شاملول</a></li>
                                    <li><a href="{% url 'list_customer_payment' %}">د پېمنټونو لیست</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="mdi mdi-email-outline"></i>
                                    <span>ریپورټ</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'remaining_debt_report' %}">د پورونو ریپورټ</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->

            

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 pashto">{% block page_name %}{% endblock page_name %}</h4>
                            </div>
                        </div>
                    </div>

                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}} alert-dismissible fade show pashto" role="alert">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            {{message}}
                        </div>
                    {% endfor %}
                    <!-- end page title -->

                    {% block page_content %}{% endblock page_content %}

                </div>
                <!-- End Page-content -->

            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

{% endblock %}
